{% load staticfiles %}
<html>
        <head>
                <title>URL EXPAND-O-RAMA 2</title>
                <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
                <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
                <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
                <link rel="stylesheet" href="{% static "css/urlexpander.css" %}">
        </head>

<body>
<div class="page-header">
<h1><a href="/expander">A list of Links</a></h1>
</div>
{% if user.is_authenticated %}
<div class="page-header">
	<a href="{% url "url_new" %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
</div>

	<p class="top-menu">Hello {{ user.username }}<small>(<a href="{% url 'django.contrib.auth.views.logout' %}">Log out</a>)</small></p>

{% else %}

<a href="{% url 'django.contrib.auth.views.login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
{% endif %}

<div class="content container">
<div class="row">
<div class="col-md-8">

	{% block content %}
	{% endblock %}

</div>
</div>
</div>
</body>

</html>
